<!DOCTYPE HTML>
<html>
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    "room":[ <br>

    {{#rooms}}
        <div>
            {<b>{{id}}</b>
            <span>({{text}}) }</span>
        </div>
    {{/rooms}}
    ] is invalid
</div>

<br><br>

<form method="post" action="backtomain">
    <button type="submit">back to main</button>
</form>

</body>
</html>